<!DOCTYPE html>
<html>
<head>
    <title>Careers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Inside the <head> section of each template for smooth scroll effect -->
    <script src="{{ url_for('static', filename='smooth-scroll.js') }}"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <p> This is a test. </p>

    <section class="section">
        <p> This is a test. </p>
        <!-- Your careers content -->
    </section>

    <!-- Footer -->
    {% include 'footer.html' %}
</body>
</html>
