<footer class="fixed-bottom">
    <div class="container">
        &copy; 2023 Abhishek Shah | All rights reserved
    </div>
</footer>


<!--<footer class="fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                &copy; 2023 Abhishek Shah | All rights reserved
            </div>
            <div class="col-md-6 text-right">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Terms of Service</a></li>
                    <li class="list-inline-item"><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>-->
