<!DOCTYPE html>
<html>
<head>
    <title>Thoughts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Inside the <head> section of each template for smooth scroll effect -->
    <script src="{{ url_for('static', filename='smooth-scroll.js') }}"></script>
</head>
<body>
    {% include 'navbar.html' %}

    <section class="section">
        <div class="container personal-thoughts">
            <h3>Thoughts</h3>
            {% for thought in thoughts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ thought.title }}</h5>
                    <p class="card-text">{{ thought.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Footer -->
    {% include 'footer.html' %}
</body>
</html>
